* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.nav1 {
    margin: 5px;
    font-size: large;
    color: red;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 5px;
    flex-wrap: wrap;
}

.nav2 {
    margin-left: 10px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.nav-logo {
    background-size: cover;
    width: 60px;
    height: 45px;
}

.nav-logo:hover {
    cursor: pointer;
}

.content p {
    display: inline;
    margin-left: 40px;
    justify-content: space-evenly;
    color: grey;
}

.content p:hover {
    color: black;
    font-weight: 650;
    cursor: pointer;
}

.logos {
    display: flex;
    justify-content: space-evenly;
    margin-left: 500px;
}

.user, .wishlist, .cart{
    margin-left: 30px;
}

.search:hover, .user:hover, .wishlist:hover, .cart:hover {
    cursor: pointer;
    color: grey;
}

.main {
    background-image: url("main-sec.jpg");
    height: 410px;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.msg {
    margin: 20px;
    color: black;
    display: flex;
    justify-content: space-between;
    font-size: large;
}
.msg:hover {
    cursor: pointer;
}

.tc {
    color: grey;
    margin: 20px;
    text-decoration: underline;
}
.tc:hover {
    cursor: pointer;
}

.shopping1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box {
    height: 1050px;
    width: 50%;
    background-color: white;
    margin-top: 1px;
}

.image {
    height: 1000px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p {
    font-weight: 700;
    font-size: larger;
}

.imgs {
    margin-top: 20px;
    margin-bottom: 10px;
    height: 900px;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
}

.new {
    margin: 50px 15px 100px 15px;
    font-weight: 700;
    font-size: larger;
}

.small {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box-small {
    height: 300px;
    width: 16.6%;
    background-color: white;
}

.imgs {
    height: 300px;
    width: 100%;
    background-size: cover;
    margin-left: 0px;
}

.shopping2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.top {
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}

ul {
    margin-top: 30px;
}

ul p {
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 700;
}

ul a {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
}

ul a:hover {
    cursor: pointer;
    color: grey;
}

.logo2 {
    background-size: cover;
    width: 100px;
    height: 100px;
    margin-left: 20px;
}

.region {
    margin-top: 35px;
    margin-left: 20px;
    margin-bottom: 70px;
    font-size: 20px;
}

.cr:hover {
    color: grey;
}

.bottom {
    display: flex;
    margin-left: 15px;
    margin-bottom: 50px;
}

.cont {
    width: 70%;
    font-size: 16px;
}

.links {
    display: flex;
    justify-content: space-evenly;
    margin-left: 100px;
}

.instagram, .tiktok, .spotify, .youtube, .pinterest, .facebook {
    margin-left: 40px;
}

.instagram:hover, .tiktok:hover, .spotify:hover, .youtube:hover, .pinterest:hover, .facebook:hover {
    cursor: pointer;
    color: grey;
}